body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f9ff; 
    color: #333; 
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,100,0,0.5);
    max-width: 1100px;
    margin: 50px auto;
    border-radius: 20px;
}


h1 {
    text-align: center;
    color: #004d66; 
    font-size: 2.5em;
}

h2 {
    color: #007b8a; 
    font-size: 2em;
    border-bottom: 2px solid #004d66; 
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h3 {
    color: #006d77; 
    font-size: 1.5em;
    margin-top: 30px;
}


ul {
    margin-left: 20px;
    padding-left: 20px;
}

ul ul {
    margin-left: 20px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Links */
a {
    color: #007b8a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Horizontal rule styling */
hr {
    border: 1px solid #004d66;
    margin: 30px 0;
}

/* Paragraph styling */
p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 1.4em;
    }
}
img{
    box-shadow: 0 0 10px black;
    border-radius: 7px;
    width: 500px;
    margin-left: 30%;
    transition: 0.5s ease-in-out;

}
img:hover{
    transform: scale(1.15); /* Larger zoom effect */
   filter: brightness(1.1);
}
